<ion-view view-title="Competition">
    <ion-content>
        <ion-list class="pro-edit text-rite">
            <ion-item class="item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="data.name" ng-disabled="isDisabled">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">Start Date</span>
                <input type="date" ng-model="data.startDate" ng-disabled="isDisabled">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">End Date</span>
                <input type="date" ng-model="data.endDate" ng-disabled="isDisabled">
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="data.keyCompetition" ng-disabled="isDisabled">Key Competition</ion-toggle>
        </ion-list>
        <div class="padding-horizontal">
            <div class="button-bar">
                <button class="button button-positive button-block" ui-sref="app.competition">Accept</button>
                <button class="button button-assertive button-block" ui-sref="app.competition">Reject</button>
            </div>
        </div>
    </ion-content>
</ion-view>