<ion-view view-title="Event Details">


<div class="">
  <ion-tabs class=" tab-button tabs-top " >
   <ion-tab title="Event Info" >
     <ion-content  class=" has-tabs-top detail-event">
       <div class=" ">
         <div class="event-head ">
             <h4  >{{data.title}}</h4  >
             <label class="textupper">{{data.date}}</label>
             <button class="button button-light">
                Register now
              </button>
         </div>
         <div class="clearfix"></div>

          <div class="event-info">
            <h4>Event Info</h4>
            <div class="col-xs-12 dividers">
                <p><span>Wohlig Technology :<br></span> Chhatrapati Shivaji Terminus Area, Fort, Mumbai, Maharashtra 400001</p>
                <p class="normal-text">9876548990/9877642765</p>
                <p class="normal-text">coachmentor@gmail.com</p>
                <p class="normal-text">www.coachmentor.com</p>
            </div>
          </div>
       </div>


   </ion-content>
   </ion-tab>


   <ion-tab title="Venue Details" >
     <ion-content  class="has-tabs-top detail-event">
       <div class="">
         <div class="event-head">
             <h4  >{{data.title}}</h4  >
             <label class="textupper">{{data.date}}</label>
             <button class="button button-light">
                Register now
              </button>
         </div>
<div class="clearfix"></div>
         <div class="">
           <div class="event-venue">
             <h4>Venue Details</h4>
             <div class="">
                 <p><span>Wohlig Technology :</span> Chhatrapati Shivaji Terminus Area, Fort, Mumbai, Maharashtra 400001</p>
                 <iframe ng-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15085.698073666608!2d72.862952!3d19.045064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaac7b2a8db110f47!2sWohlig+Technology!5e0!3m2!1sen!2sin!4v1483963912342" width="100%" height="200"
                     frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
           </div>

         </div>
       </div>


   </ion-content >
   </ion-tab>

   <ion-tab title="Gallery" >
     <ion-content  class=" has-tabs-top detail-event">
       <div class="">
         <div class="event-head">
             <h4  >{{data.title}}</h4  >
             <label class="textupper">{{data.date}}</label>
             <button class="button button-light">
                Register now
              </button>
         </div>
         <div class="clearfix"></div>
          <div class=" gallery">
              <h4>Gallery</h4>
              <div class="row" ng-repeat="videolist1 in eventsGalleryDetaiLlist">
                  <a class="col-50 pic-50" ng-repeat="videolist in videolist1">
                      <img ng-src="{{videolist.img}}" class="full-image {{videolist.radius}}">
                      <span class="{{videolist.classCircle}}"><img src="{{videolist.urlPlay}}"></span>
                  </a>
              </div>
          </div>
       </div>

   </ion-content >
   </ion-tab>
</ion-tabs>
</div>



</ion-view>
