<ion-view view-title="{{title}} Injury">
  <ion-content>
    <ion-list class="pro-edit text-rite">
      <ion-item class="item-input">
        <span class="input-label">Injury Name</span>
        <input type="text" ng-model="data.name">
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Injury Date</span>
        <input type="date" ng-model="data.injuryDate">
      </ion-item>
      <ion-item class="item-input item-select">
        <span class="input-label">Severity</span>
        <select type="date" ng-model="data.severity" ng-options="s as s for s in severity">
          <option value="">Select</option>
        </select>
      </ion-item>
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">Resume Training Date</span>
        <input type="date" ng-model="data.resumeDate">
      </ion-item>
      <ion-item class="item-input item-block">
        <span class="input-label">Prescribing Practitioner</span>
        <textarea auto-grow ng-model="data.prescribingPractitioner" rows="4"></textarea>
      </ion-item>
    </ion-list>
    <div class="padding-horizontal">
      <button class="button button-positive button-block" ui-sref="app.testing">Save</button>
    </div>
  </ion-content>
</ion-view>
