<ion-view view-title="{{mentees.name}}">
    <ion-content>
        <div class="picture-hold picture-pad">
            <div class="dp" style="background-image: url('{{mentees.image}}');"></div>
            <h3>{{mentees.name}} {{mentees.surname}}</h3>
            <p>{{mentees.credentials}}</p>
            <p class="badged stable-bg">{{mentees.subscriptionType}}, {{mentees.subscriptionFee | currency : '£' : 0}}</p>
        </div>
        <ion-list>
            <ion-item class="item-text-wrap">
                <h3>Subscription Since</h3>
                <p>{{mentees.acceptedDate | date:'dd MMMM, yyyy'}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Next Renewal</h3>
                <p>{{mentees.renewalDate | date:'dd MMMM, yyyy'}}</p>
                <ion-option-button class="button-positive">Renew Now</ion-option-button>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Years of Coaching</h3>
                <p>{{mentees.yearsCoaching}} years</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Country</h3>
                <p>{{mentees.country}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Age</h3>
                <p>{{mentees.dob | ageConvert}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Gender</h3>
                <p>{{mentees.gender}}</p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>About</h3>
                <p class="read-more text-justified" ng-class="{'auto-height': read==true}">{{mentees.about}}</p>
                <p class="text-right bold" ng-click="readMore()">Show <span ng-if="!read">More</span><span ng-if="read">Less</span></p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Coaching Focus</h3>
                <p>
                    <span class="tag-box" ng-repeat="c in mentees.coachingFocus">{{c}}</span>
                </p>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h3>Specialisations</h3>
                <p>
                    <span class="tag-box" ng-repeat="s in mentees.specialisations">{{s}}</span>
                </p>
            </ion-item>
        </ion-list>
        <div class="padding-horizontal">
            <button class="button button-assertive button-block">Unsubscribe</button>
        </div>
    </ion-content>
</ion-view>