<ion-view view-title="Edit Profile">
  <ion-content>
    <form name="formName" ng-submit="submit(formData);">
      <div class="pic-edit">
        <div class="ch-relative">
          <div class="dp" style="background-image: url(http://2.bp.blogspot.com/-TgdKBlUGk90/T0PhPlFOf8I/AAAAAAAAAVc/jijEQ8u1uUg/s1600/387430_257363124319593_257347670987805_670782_1318978483_n.jpg);"></div>
          <a class="button button-icon icon ln-pencil ln-fit"></a>
        </div>
      </div>
      <div class="pro-edit text-rite">
        <div class="list">
          <label class="item item-input" ng-class="{'err': formName.name.$invalid && formName.name.$touched}">
            <span class="input-label">Forename*</span>
            <input type="text" name="name" ng-model="formData.name" maxlength="35" required>
          </label>
          <label class="item item-input" ng-class="{'err': formName.surname.$invalid && formName.surname.$touched}">
            <span class="input-label">Surname*</span>
            <input type="text" name="surname" ng-model="formData.surname" maxlength="35" required>
          </label>
          <label class="item item-input" ng-class="{'err': formName.email.$invalid && formName.email.$touched}">
            <span class="input-label">Email Address  <i class="icon ion-android-lock"></i></span>
            <input type="email" name="email" ng-model="formData.email" required readonly>
          </label>
          <label class="item item-input" ng-click="changePassword()">
            <span class="input-label">Change Password</span>
            <input type="password" name="password" ng-model="dummyPassword" readonly>
          </label>
          <label class="item item-input item-select" ng-class="{'err': formName.gender.$invalid && formName.gender.$touched}">
            <span class="input-label">Country*</span>
            <select name="country" ng-model="formData.country" ng-options="c.name as c.name for c in countries" required>
              <option value="">Select</option>
            </select>
          </label>
          <label class="item item-input item-select" ng-class="{'err': formName.gender.$invalid && formName.gender.$touched}">
            <span class="input-label">Gender*</span>
            <select name="gender" ng-model="formData.gender" ng-options="g as g for g in gender" required>
              <option value="">Select</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Phone Number <i class="icon ion-android-lock"></i></span>
            <input type="tel" name="contact" ng-model="formData.contact" required readonly>
          </label>
          <label class="item item-input" ng-class="{'err': formName.dob.$invalid && formName.dob.$touched}">
            <span class="input-label">Date of Birth*</span>
            <input type="date" name="dob" ng-model="formData.dob" required>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">About</span>
            <textarea auto-grow rows="3" name="about" ng-model="formData.about"></textarea>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Events</span>
            <textarea auto-grow rows="3" name="about" ng-model="formData.events"></textarea>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Achievement / Personal bests</span>
            <textarea auto-grow rows="3" name="about" ng-model="formData.achievements"></textarea>
          </label>
          <label class="item item-input item-block">
            <span class="input-label">Previous Season Review</span>
            <textarea auto-grow rows="3" name="about" ng-model="formData.previousSeasonReview"></textarea>
          </label>
        </div>
      </div>
      <div class="text-center m20 padding-horizontal">
        <button class="button button-positive button-block" ng-disabled="formName.$invalid" type="submit">Save</button>
      </div>
    </form>
  </ion-content>
</ion-view>
