<ion-view>
  <ion-nav-title>
    Welcome, {{profileData.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ln-pencil ln-fit" ui-sref="app.edit-profile"></a>
    <a class="button button-icon icon ln-earth ln-fit" ui-sref="app.notifications"><span class="badge-icon assertive-bg">1</span></a>
  </ion-nav-buttons>
  <ion-content class="white-profile">
    <div class="picture-hold">
      <div class="zd">
        <div class="dp" style="background-image: url({{profileData.image}});"></div>
        <h3>{{profileData.name}} {{profileData.surname}}</h3>
        <p>{{profileData.dob | ageConvert}}</p>
        <div class="main-info">
          <div class="row">
            <div class="col">
              <h3>{{profileData.gender}}</h3>
              <p>Gender</p>
            </div>
            <div class="col">
              <h3><span ng-if="!profileData.sport">-</span>{{profileData.sport}}</h3>
              <p>Sport</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-list class="stripped">
      <ion-item class="item-text-wrap">
        <h3>Country</h3>
        <p>{{profileData.country}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Phone Number</h3>
        <p>{{profileData.contact}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Email Address</h3>
        <p>{{profileData.email}}</p>
      </ion-item>
      <ion-item class="item-text-wrap">
        <h3>Date of Birth</h3>
        <p>{{profileData.dob | date:'dd MMMM, yyyy'}}</p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>About</h3>
        <p class="text-justified" read-more="profileData.about" read-more-limit="140" read-more-label-expand="Read More" read-more-label-collapse="Read Less"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Events</h3>
        <p class="text-justified" read-more="profileData.events" read-more-limit="140" read-more-label-expand="Read More" read-more-label-collapse="Read Less"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Achievement / Personal bests</h3>
        <p class="text-justified" read-more="profileData.achievements" read-more-limit="140" read-more-label-expand="Read More" read-more-label-collapse="Read Less"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Previous Season Review</h3>
        <p class="text-justified" read-more="profileData.previousSeasonReview" read-more-limit="140" read-more-label-expand="Read More"
          read-more-label-collapse="Read Less"></p>
      </ion-item>
      <ion-item class="item-text-wrap item-long">
        <h3>Personal Goals</h3>
        <p class="text-justified" read-more="profileData.personalGoals" read-more-limit="140" read-more-label-expand="Read More"
          read-more-label-collapse="Read Less"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
