<ion-view view-title="Register Now">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form name="formName" ng-submit="submit(formData);">
      <div class="pro-edit text-rite">
        <div class="list">
          <div class="item item-divider">All the fields below are mandatory</div>
          <label class="item item-input">
            <span class="input-label">Forename</span>
            <input type="text" name="name" ng-model="formData.name" maxlength="35">
          </label>
          <label class="item item-input">
            <span class="input-label">Surname</span>
            <input type="text" name="surname" ng-model="formData.surname" maxlength="35">
          </label>
          <label class="item item-input">
            <span class="input-label">Email Address</span>            
            <input type="email" name="email" ng-model="formData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Date of Birth</span>
            <input type="date" name="dob" ng-model="formData.dob">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" name="password" ng-model="formData.password">
            </label>
          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select name="gender" ng-model="formData.gender">
              <option value="{{g.value}}" ng-repeat="g in gender">{{g.name}}</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm Password</span>
            <input type="password" name="repassword" ng-model="formData.repassword">
          </label>

        </div>
        <div class="text-center m20 padding-horizontal">
          <button class="button button-positive button-block" type="submit">Register Now</button>
        </div>
    </form>

  </ion-content>
</ion-view>